html {
	overflow-y: hidden;
	overflow-x: hidden;
}

#pancontainer {
	height: 100vh;
	width: 100vw;
}

#smblobby {
	height: 100vh;
}

#overlaycontainer h1 {
	color: dodgerblue;
	position: absolute;
	top: 20px;
	left: 50%;
	z-index: 1000;
}

.action-item button {
	width: 100%;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.pad-bottom {
	margin-bottom: 5px !important;
}

.panel.panel-primary {
    margin-bottom: 0px;
}

.overlaypanel {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 1050;
	border-radius: 4px;
	text-align: center;
}

.overlaypanel a, .overlaypanel span, .overlaypanel p {
	padding: 15px;
	color: #A7C0D8 !important;
	font-size: 2.8rem;
	font-weight: bold;
	margin-bottom: 0px;
}

#infopanel {
	top: 20px;
	left: 20px;
	margin-right: 20px;
}

@media (max-width:765px) {
	#logoutpanel {
		bottom: 20px;
		left: 20px;
	}
}

@media (min-width:765px) {
	#logoutpanel {
		top: 20px;
		right: 20px;
	}
}

.modal-dialog{
	max-width: 90%;
}

.modal-dialog button {
    white-space: normal;
}