.notification-count {
	position: absolute;
    top: 10px;
    right: 0px;
    background-color: #FB5050;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
    color: white;
}

.row{
	margin-bottom: 5px !important;
}

.btn {
    margin-right: 3px !important;
    margin-bottom: 3px !important;
}

.registerform input {
	text-transform: uppercase;
}

.user-image {
    min-width: 50px;
    width: 50px;
    max-width: 50px;
    
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    
    border-radius: 50%;
}

.captcha label {
	display: none;
}

#captcha_code {
	margin-top: 10px;
}

#disclaimer p {
    text-indent: 30px;
}

#disclaimer .text-warning {
    text-indent: inherit;
}

#disclaimerlink {
	position: absolute;
    bottom: 10px;
    width: 200px;
    text-align: center;
    left: 50%;
    margin-left: -100px;
    color: gainsboro;
}

.lobby-body {
	height: 100vh;
	width: 100vw;
}

.lobby-background {
    background-image: url("../images/simplelobby.jpg");
    overflow-y: scroll;
    overflow-x: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.lobby-panel {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.case-sensitive {
    text-transform: none !important;
}